.container {
  margin-top: 25px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form {
  font-family: "MyFont";
}

.form-design {
  width: 80%;
  display: flex;

  padding: 10px;
}

.form-control {
  width: 50%;
}

input {
  margin-right: 10px;
}
