.container {
  margin-top: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 15px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

form {
  font-family: "MyFont";
}

.form-design {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.form-control {
  width: 50%;
}

input {
  margin-right: 30px;
}

span {
  margin-right: 20px;
}
